@use "../../styles/partials/mixins" as *;

.heading--h1 {
  --factor: 2;
  --minimum-heading-size: calc(
    var(--min-font-size) * var(--type-scale) * var(--factor)
  );
  --preferred-heading-size: calc(
    var(--preferred-font-size) * var(--type-scale) * var(--factor)
  );
  --maximum-heading-size: calc(
    var(--max-font-size) * var(--type-scale) * var(--factor)
  );

  font-family: var(--font-serif);
  font-size: clamp(
    var(--minimum-heading-size),
    var(--preferred-heading-size),
    var(--maximum-heading-size)
  ) !important;
  text-align: center;

  color: var(--color-text-primary);

  line-height: 1.1;
  letter-spacing: -0.025em;
  font-weight: 200;
  @include respond(lg) {
    --factor: 2.5;
    margin-bottom: 1rem;
    line-height: 0.8;
  }

  @include respond(xl) {
    --factor: 2.5;
  }
}

.heading--h2 {
  --minimum-heading-size: calc(var(--min-font-size) * var(--type-scale) * 1.5);
  --preferred-heading-size: calc(
    var(--preferred-font-size) * var(--type-scale) * 1.5
  );
  --maximum-heading-size: calc(var(--max-font-size) * var(--type-scale) * 1.5);

  font-family: var(--font-serif);
  font-size: clamp(
    var(--minimum-heading-size),
    var(--preferred-heading-size),
    var(--maximum-heading-size)
  ) !important;
  text-align: center;

  color: var(--color-secondary-500);

  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-bottom: 0.25em;
}

.heading--h3 {
  --minimum-heading-size: calc(var(--min-font-size) * var(--type-scale) * 0.9);
  --preferred-heading-size: calc(
    var(--preferred-font-size) * var(--type-scale) * 0.9
  );
  --maximum-heading-size: calc(var(--max-font-size) * var(--type-scale) * 0.9);

  font-family: var(--font-serif);
  font-size: clamp(
    var(--minimum-heading-size),
    var(--preferred-heading-size),
    var(--maximum-heading-size)
  ) !important;
  text-align: center;

  color: var(--color-primary-500);
  letter-spacing: 0.05em;

  font-weight: 400;

  line-height: 1.5;
  margin-bottom: 0.25em;
}

.heading--h4 {
  --minimum-heading-size: calc(var(--min-font-size) * var(--type-scale) * 0.9);
  --preferred-heading-size: calc(
    var(--preferred-font-size) * var(--type-scale) * 0.9
  );
  --maximum-heading-size: calc(var(--max-font-size) * var(--type-scale) * 0.9);

  font-family: var(--font-serif);
  font-size: clamp(
    var(--minimum-heading-size),
    var(--preferred-heading-size),
    var(--maximum-heading-size)
  ) !important;
  text-align: center;

  color: var(--font-color-secondary);
  letter-spacing: 0.02em;
  font-weight: 400;

  line-height: 1.2;
  margin-bottom: 0.25em;
}
