/**
* Color Theme Variables
**/

$color-background: rgba(242, 238, 228, 1);
$color-primary-300: rgba(236, 170, 169, 1);
$color-primary-500: oklch(0.5471 0.2195 19.92);
$color-orange-300: rgba(255, 209, 155, 1);
$color-orange-500: rgba(255, 190, 120, 1);
$color-green-300: rgba(184, 211, 155, 1);
$color-red-300: rgba(232, 146, 126, 1);
$color-dirty-white: rgb(252, 243, 233);

$color-text-primary: rgba(0, 0, 0, 0.9);
$color-text-secondary: rgba(0, 0, 0, 0.8);
$color-text-disabled: rgba(0, 0, 0, 0.25);
$color-text-on-black: rgba(255, 255, 255, 0.9);
