.paragraph {
  font-size: clamp(
    var(--min-font-size),
    var(--preferred-font-size),
    var(--max-font-size)
  );
  padding-inline: 12px;
  line-height: 1.5;
  margin-bottom: 1rem;

  & > strong {
    font-weight: 600;
    letter-spacing: 0.04em;
    color: var(--color-primary-500);
  }

  & > em {
    font-weight: 400;
    letter-spacing: 0.04em;
    color: var(--color-primary-500);
  }
}

.paragraphSmall {
  font-size: 18px;
  line-height: 1.6;
  padding-inline: 0;
}
