.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border-radius: 1000px;
  overflow: hidden;
  z-index: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  background-color: black;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
  opacity: 0.7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  will-change: transform;
}

.bottleWrapper {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
}

.bottle {
  width: auto;
  height: 550px;
  filter: drop-shadow(0 5px 12px rgba(0, 0, 0, 0.5));
}
